table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
    width: 200px;
}

.game {
    background-color: #f2f2f2;
    cursor: pointer;
    border-bottom: black 1px solid;
    border-top: black 1px solid;
}

.game:hover {
    background-color: #e6e6e6;
}

.loadgame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

table {
    width: 50%;
    margin: auto;
}
