body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#mainmenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
}

#newgame, #loadgame, #scoreboard {
    padding: 10px;
    width: 300px;
    height: 100px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

button:hover {
    background-color: #e6e6e6;
}
